<div class="container">
  <div class="title">
    Công cụ ước tính giá cuối
  </div>
  <div class="desc">
    Vui lòng nhập các thông tin liên quan đến mặt hàng bạn đang quan tâm. Chúng tôi sẽ giúp bạn ước lượng
    giá cuối cùng khi sản phẩm đến tay bạn
  </div>
  <form action="" role="form" class="form" [formGroup]="PriceForm" (submit)="onSubmit()">
    <div class="form-group">
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
          <div class="item_country" [class.active]="country.active" *ngFor="let country of countries"
            (click)="onclick(country.id)">
            <img alt="country" loading="lazy" width="35" height="30" decoding="async" data-nimg="1" class="flag"
              src="{{country.image}}" style="color: transparent;">
            <div class="name">
              {{country.name}} ({{country.name_short}})
            </div>
            <div class="icon" [class.active]="country.active">
              <i class="fa-solid fa-check"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
        <div class="form-group">
          <label for="">Tiền hàng ({{short_name}})</label>
          <input type="number" formControlName="price" class="form-control" placeholder="1.000"
            (blur)="onInputBlur('price')">
          <div class="desc" [class.err]="err">Giá trị hàng hoá người dùng muốn mua</div>
        </div>
        <div class="form-group">
          <label for="">Trọng lượng (kg)</label>
          <input type="number" formControlName="we" class="form-control" placeholder="1.2" (blur)="onInputBlur('we')">
          <div class="desc" [class.err]="err">Cân nặng của hàng hoá người dùng muốn mua</div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="form-group">
          <label for="">Kích thước (cm)</label>
          <input type="number" formControlName="len" class="form-control" placeholder="Dài">
        </div>
        <div class="form-group">
          <input type="number" formControlName="wid" class="form-control" placeholder="Rộng">
        </div>
        <div class="form-group">
          <input type="number" formControlName="heigh" class="form-control" placeholder="Cao">
        </div>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
        <div class="form-group">
          <label for="select">Example select</label>
          <select class="form-control" formControlName="sele" id="select">
            <option>Nhóm hàng thường</option>
            <option>Nhóm Mỹ phẩm thuốc</option>
            <option>Nhóm hàng điện tử</option>
            <option>Nhóm hàng giá trị cao</option>
            <option>Hàng cồng kềnh</option>
            <option>Nhóm hàng khó</option>
          </select>
          <div class="desc" [class.err]="err">Lựa chọn nhóm hàng hoá vận chuyển</div>
        </div>
      </div>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
      <div>
        <button type="submit" class="btn">Ước tính giá cuối</button>
      </div>
    </div>
  </form>
  <div class="result" [class.show]="show">
    <hr>
    <div class="title">Kết quả ước tính giá cuối</div>
    <br>
    <ul class="list-result">
      <li class="item-estimate">
        <div class="row">
          <div class="col-md-8">
            <div class="estimate-delivery"><img src="../assets/images/truck.svg" alt="click247" class="icon-delivery">
              <div><label class="label-express">Vận chuyển đường bay</label>
                <span class="available"><i class="fa-solid fa-check v"></i> Available</span>
              </div>
              <p class="time-estimate">Thời gian giao hàng dự kiến: 7 - 10 ngày</p>
            </div>
          </div>
          <div class="col-md-4 text-end"><span>Tuyến: {{short_name}}</span>
            <div>
              <span class="price-prod price" *ngIf="short_name == 'US'; else noUSA">
                {{price* 25000 + we*210000 +20000}}
              </span>
              <ng-template #noUSA>
                <span class="price-prod price" *ngIf="short_name == 'JP'; else noJP">
                  {{price* 175 + we*180000 +20000}}
                </span>
              </ng-template>
              <ng-template #noJP>
                <span class="price-prod price" *ngIf="short_name == 'UK'; else noUK">
                  {{price* 32413 + we*220000 +20000}}
                </span>
              </ng-template>

              <ng-template #noUK>
                <span class="price-prod price" *ngIf="short_name == 'US_CA'">
                  {{price* 25000 + we*185000 +20000}}
                </span>
              </ng-template>
              |
              <span class="view-price" (click)="onClick()">Chi tiết <i class="fa-solid fa-chevron-down"></i></span>
              <div class="menu" [class.detail]="detail">
                <div class="item">
                  <div class="title">CHI TIẾT TIỀN HÀNG</div>
                  <div class="box">
                    <div class="left">Tiền hàng: </div>
                    <div class="right">{{price* 25000}}</div>
                  </div>
                  <div class="box">
                    <div class="left">Phí dịch vụ: </div>
                    <div class="right">20000</div>
                  </div>
                  <div class="box">
                    <div class="left">Phí vận chuyển quốc tế: </div>
                    <div class="right">{{we* 210000}}</div>
                  </div>
                  <div class="box">
                    <div class="left">Phụ thu: </div>
                    <div class="right">0</div>
                  </div>
                  <div class="box">
                    <div class="left">Phí GTGT: </div>
                    <div class="right">0</div>
                  </div>
                  <hr>
                  <div class="box">
                    <div class="left">Tổng tiền hàng: </div>
                    <div class="right"> {{price* 25000 + we*210000 +20000}}</div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>